body {
  background-color: rgb(207, 211, 223);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.subTitle {
  font-size: 14px;
}

.slideContainer {
  padding-top: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider {
  appearance: none;
  width: 500px;
  height: 12px;
  background-color: rgb(207, 211, 223);
  border: 1px solid black;
  opacity: 0.7;
  border-radius: 7px;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.gridContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  gap: 100px;
}

#gridBoxes {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: 0 0 20px black;
  border-color: solid black;
}

.button {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex: 1;
}

#colorPicker {
  border: 3px solid rgba(black);
}

.colorContainer {
  flex: 1;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  /*Keeps middle item centered by growing equally to fill available space left*/
}

.colorContainer:hover {
  transform: scale(1.05);
  transition: transform 0.05s ease-in-out;
}

input[type="color"] {
  width: 100%;
  height: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001a;
  transform: scale(1.5);
}

#Reset,
#Rainbow,
#Color,
#Eraser {
  height: 50px;
  width: 200px;

  border-radius: 5px;
  font-size: 20px;
}

#Reset:hover,
#Rainbow:hover,
#Color:hover,
#Eraser:hover {
  transform: scale(1.05);
  transition: transform 0.05s ease-in-out;
}
